<html>
    <head>
        <meta encoding="utf-8"> 
        <link rel="stylesheet" href="/static/index.css">
    </head>
    </body>
    <div class="layout">
        <h3> Заметки </h3>
        <div class="posts">
        {% for i in range(posts|length) %}
            <div class="post">
                {# is_near is a function you must provide. It says 
                   if to posts was made in nearly the same time. #}
                {% if not i or not is_near(posts[i - 1], posts[i]) %}
                {# ts_fmt is a function you must provide. It converts 
                   float timestamp into date you want to see it. #}
                <div class="date">{{ ts_fmt(posts[i].date) }}</div>
                {% endif %}
                <div class="text">{{ posts[i].text }}</div>
            </div>
        {% endfor %}
        </div>
    </div>
    </body>
</html>
